
  @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

*{
    margin: 0;
    padding: 0;
}

/****** Item  box *********/
.item-box {
    background-color: #fff;
    width: 24%;
    margin: 1%;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #00499c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .item-name{
    font-family: iris;
    font-size: 20px;
    color: #000000;
    font-family: 'Irish Grover';
    font-weight: 600;
  }
  .item-quantity {
    color: #000000;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 15%;
    font-family: 'Irish Grover';
  }
  .item-price {
    color: gray;
    font-family: 'Irish Grover';
  }
  .buttons{
    width: 60%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .item-add-button {
    background-color: #5cb85c;
    border-radius: 5px;
    width: 30%;
    height: 3vh;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
  }
  
  .item-minus-button {
    background-color: #d9534f;
    width: 30%;
    height: 3vh;
    margin: 2%;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
  }
  
  .item-plus-button {
    background-color: #337ab7;
    width: 30%;
    height: 3vh;
    margin: 2%;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
  }
