@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
*{
    padding: 0;
    margin: 0;
}
/****** Shopping Cart ********/
.gen{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart-container {
    width: 35%;
    height: 67vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border: 2px solid blue;
    border-radius: 20px;
    font-size: 30px;
  }
  .cart-container p{
    font-family: 'Irish Grover';
  }
  .contains{
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
  }
  .botones{
    width: 20%;
  }
  .botones button{
    width: 100%;
    height: 6vh;
    background-color: blue;
    border: none;
    border-radius: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    font-weight: 600;
  }
  